<ion-view view-title="Settings">
  <ion-content>
    <div class="list">
      <div class="padding profilePadding">
       <div style="text-align: center"> <img src = "img/defaultProfile.png"> 
       <p><p>
       <i id="profileFont">{{profileData.firstName}} {{profileData.lastName}}</i>
       <br>
       <i id="usernameFont">{{profileData.username}}</i>
       </p></p></div>
       <p> <i >Test Settings: {{profileData.signup_date[1]}}/{{profileData.signup_date[0]}}/{{profileData.signup_date[2]}}</i> </p>

      <div class="container center-children">
        <button class="button button-royal" href="#" ng-click="goBack()">
          Go Back
        </button>
      </div>
      </div>
    </div>
  </ion-content>
</ion-view>