<ion-view view-title="Profile" ng-init="doSomething()">
  <ion-content>
    <div class="list">
      <div class="padding profilePadding">
       <div style="text-align: center"> <img src = "img/defaultProfile.png">
       <p><p>
       <i id="profileFont">{{profileData.firstName}} {{profileData.lastName}}</i>
       <br>
       <i id="usernameFont">{{profileData.username}}</i>
       </p></p></div>
       <p> <i >Sign Up Date: {{profileData.signup_date[1]}}/{{profileData.signup_date[0]}}/{{profileData.signup_date[2]}}</i> </p>
      <p>
        <i>Bits: {{profileData.bits}}</i>
      </P>

<!--        <div class="list list-inset">

    <div class="item">
      1 #SnowDay
    </div>
    <div class="item">
      0 #Deadlines
    </div>
    <div class="item">
      1 #Spring
    </div>

    

</div> -->
      </div>
    </div>
  </ion-content>
</ion-view>