<ion-view view-title="BitStream">
  <ion-content>
    <ion-refresher pulling-text="Pull to Refresh" on-refresh="refresh()">
    </ion-refresher>
    <ion-list type="in-set">
      <div ng-show="errorMessage"><h1>{{errorMessage}}</h1></div>
        <div class="list card" ng-repeat="BooleOut in posts" type="item-text-wrap" href="#/tab/bitstream">
            <div class="item item-avatar" >
                <img src="img/stock_picture.png">
                <h2><b>{{BooleOut.user_name}}</b></h2>
                    <p>{{getBit(BooleOut.bit)}} #{{BooleOut.hashtag}}</p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <button class="button icon-left ion-thumbsup" href="#" onclick="upBoole(BooleOut)">
                    upBoole
                </button>
                <button class="button icon-left ion-thumbsdown" href="#" onclick="downBoole(BooleOut)">
                    downBoole
                </button>
                <button class="button icon-left ion-chatbox" href="#" onclick="reply(BooleOut)">
                    Reply
                </button>
            </div>
        </div>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="bar-royal">
    <input id="postOne" type="submit" name="search" value="1" ng-click="postBooleOut(1)" />
    <input id="postZero" type="submit" name="search" value="0" ng-click="postBooleOut(0)"/>
    <div id="postInput">
      <input type="text" name="term" ng-model="bitstream.hashtag" placeholder="Enter Hashtag(s) (or not)"/>
    </div>
</ion-view>

