<ion-view view-title="Notifications">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Follow</div>
      <div class="item item-body">
        <div>
          <b>@djsaunde </b>followed you!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">UpBoole</div>
      <div class="item item-body">
        <div>
          <b>@djsaunde </b>voted "1" on your booleOut <b>1 #JurassicPark</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">downBoole</div>
      <div class="item item-body">
        <div>
          <b>@djsaunde </b>voted "0" on your booleOut <b>0 #JurassicWorld</b>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
