<ion-view view-title="Settings" ng-init="doSomething()">
  <ion-content>
    <div class="list">
      <div class="padding profilePadding">
       <div style="text-align: center"> <img src = "img/yuriy.jpg">
       <p><p>
       <i id="usernameFont">Change Account Info</i>
       </p></p></div>

       <div class="list">
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
          <input type="text" placeholder="Change Bitname">
          </label>
          <button class="button button-royal">
            Submit
          </button>
        </div>

        <div class="item item-input-inset">
          <label class="item-input-wrapper">
          <input type="text" placeholder="Change Password">
          </label>
          <button class="button button-royal">
            Submit
          </button>
        </div>
      </div>

      </div>
    </div>
  </ion-content>
</ion-view>