<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <!--test -->
  <!-- BitStream Tab -->
  <ion-tab title="BitStream" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/bitstream">
    <ion-nav-view name="tab-bitstream"></ion-nav-view>
  </ion-tab>

  <!-- Following Tab -->
<!--   <ion-tab title="Following" icon-off="ion-ios7-chatboxes-outline" icon-on="ion-ios7-chatboxes" href="#/tab/following">
    <ion-nav-view name="tab-following"></ion-nav-view>
  </ion-tab>

  BoolePals Tab
  <ion-tab title="BoolePals" icon-off="ion-ios7-heart-outline" icon-on="ion-ios7-heart" href="#/tab/followers">
    <ion-nav-view name="tab-followers"></ion-nav-view>
  </ion-tab> -->



  <!-- Account Tab -->
  <ion-tab title="Profile" icon-off="ion-person-stalker" icon-on="ion-person-stalker" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

    <!-- Trending Tab -->
    <ion-tab title="Popular" icon-off="ion-person-stalker" icon-on="ion-person-stalker" href="#/tab/trending">
        <ion-nav-view name="tab-trending"></ion-nav-view>
    </ion-tab>

   <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>



</ion-tabs>
