.signUpPadding {
	margin: auto;
	position: absolute;
 	top: 0; left: 0; bottom: 0; right: 0;
}

.profilePadding {
	margin: auto;
	position: absolute;
 	top: 10%; left: 0; bottom: 0; right: 0;
}

.booleOutInput {
    width: 80%;
}

.postOne {
    width: 10%;
}

.postOne {
    width: 10%;
}

#profileFont {
	font-size: 200%;
	font-family: Copperplate;
}

#usernameFont{
	color: rgb(215, 208, 208);
	font-size: 160%;
}

.button-bottom {
	position: absolute;
	margin-top: 135%;
}


.signUpBirthdayMonth {
	margin-right: 35%;
}
.signUpBirthdayDay {
	margin-right: 18%;
}

.invalid {
	box-shadow:0 0 4px 1px #bd1f30;
}

.invalidText {
	color: #bd1f30;
	opacity: 0;
}

ion-content {
	background-color: MediumPurple;
}

.center-children {
  text-align: center;
}

.bar.bar-royal {
	background-color: Indigo;
	background-image: none;
}

.item-floating-label {
	background-color: White;
}

.loadImage {
	background-color: #502d7f;
}
