/* Empty. Add your own CSS if you like */

.signUpPadding {
	margin: auto;
	position: absolute;
 	top: 0; left: 0; bottom: 0; right: 0;
}

.test {
	margin-bottom: 5%;
}

.signUpBirthdayMonth {
	margin-right: 35%;
}
.signUpBirthdayDay {
	margin-right: 18%;
}

.login {
	box-shadow:0 0 1px 1px #f43841;
}

ion-content {
	background-color: MediumPurple;
}

.bar.bar-royal {
	background-color: Indigo;
	background-image: none;
}

.item-floating-label {
	background-color: White;
}

.button.button-royal{
	background-color: Indigo;
	background-image: none;
}

.loadImage {
	background-color: #502d7f;
}